[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "~=1.1.0"
opencv-python = "~=4.4.0.46"
numpy = "~=1.19.4"
Pillow = ">=8.1.1"
pyTelegramBotAPI = "~=3.7.4"
SQLAlchemy = "~=1.4.2"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
